@import "tailwindcss";

.answer-item-color {
    @apply bg-red-400/10 px-2 py-1 text-red-400 inset-ring inset-ring-red-400/30;
}

.answer-item-color:hover {
    @apply bg-green-400/10 px-2 py-1 text-green-400 inset-ring inset-ring-green-400/30;
}