@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Tektur:wght@400..900&display=swap');
@import "tailwindcss";

.answer-item-color {
    @apply bg-red-400/10 px-2 py-1 text-red-400 inset-ring inset-ring-red-400/30;
}

.answer-item-color:hover {
    @apply bg-green-400/10 px-2 py-1 text-green-400 inset-ring inset-ring-green-400/30;
}

.tektur-badge {
  font-family: "Tektur", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-variation-settings: "wdth" 100;
}

.pangolin-regular {
  font-family: "Pangolin", cursive;
  font-weight: 400;
  font-style: normal;
}